html {
    background-color: #ffffff;
    padding-top: 80px;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #f9ee9a;
    padding: 0 20px 50px 20px;
    border: 5px solid black;
  }
h1 {
    font-size: 40px;
    font-family: "Monospace", Courier New;
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-family: "Fantasy", Papyrus;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
}
h3 {
    font-size: 16px;
    font-family: "Monospace", Courier New;
    margin: 0 auto;
    text-align: center;  
    border: 5px solid #f9ee9a;
    padding-top: 20px;
}
l2 {
    font-size: 16px;
    font-family: "Monospace", Courier New;
    margin: 0 auto;
    text-align: center;
    position: bottom;
}
l3 {
    font-size: 16px;
    font-family: "Monospace", Courier New;
    margin: 0 auto;
    text-align: center;
    position: bottom;
}
img {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
footer {
    text-align: center;
}